/* body */
*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    display: f;
}

* a{
    text-decoration: none;
}

.center-main-container{
    width: 1265px;
    display: block;
}


/* header  */
.header{
    background-color: #191919;
    height: 42px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    padding: 2px;
}

.header-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 11px;
}

.header-left{
    width: 236px;
    display: flex;
    justify-content: space-between;
    padding: 0px;
    margin-top: 6px;
}

.social-link{
    color: #8b8b8b;
}

.header-text-color{
    font-size: 10px;
    color: #8b8b8b;
}

.account_circle{
    font-size: 20px;
}

.header-right{
    color: #8b8b8b;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 5px;
    /* padding: 10px; */
    padding-left: 5px;
    margin-right: 5px;
}

.header-right-acc a{
    margin-right: 2px;
    padding: 10px;
}
.header-right-lang{
    display: flex;
    align-items: center;
    
}
.header-right-lang a{
    margin-left: 10px;
    padding: -5px;
}

#text-sign-in{
    margin-left: 5px;
    word-spacing: 4px;
}
#text-eng{
    font-size: 12px;
}

.fa-pipe{
    margin-left: 10px;
}

.fa-angle-down{
    font-size:12px;
}

