/* body */
*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

* button{
    cursor: pointer;
}

* a{
    text-decoration: none;
}

.center-main-container{
    width: 1170px;
}


/* **********header styling******** */
.header{
    background-color: #191919;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
}

.header-container{
    display: flex;
    justify-content: space-between;
}

.header-left{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
}

.header-left a{
    /* margin: 5px; */
    margin-right: 14px;
}

.social-link{
    color: #8b8b8b;
}

.header-text-color{
    font-size: 11px;
    color: #8b8b8b;
}

.account_circle{
    font-size: 20px;
}

.header-right{
    color: #8b8b8b;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


.header-right-acc a{
    display: flex;
    align-items: center;
    margin-right: 6px;
}

.header-right-acc{
    padding-top: 1px;
}

.header-right-acc a span{
    margin-right: 5.5px;
}

.header-right-lang a {
    display: flex;
    align-items: center;
}

.header-right-lang  {
    padding-top: 1px;
}

#text-sign-in{
    word-spacing: 2px;
}

#account_circle{
    font-size: 19px;
}

#lang-icon{
    font-size: 19px;
    margin-right: 5.5px;
    margin-left: 9px;
}

#keyboard-arrow-down{
    font-size: 19px;
}

#expand_more{
    width: 15.5px;
    font-size: 20px;
}

.fa-angle-down{
    font-size:12px;
}

.pipe{
    margin-left: 5px;
    margin-right: 5px;
    height: 19.5px;
    border-left: 1px solid #8b8b8b;
}

 /* *******Carousel styling********** */
 .carousel{
    display: flex;
    justify-content: center;
    background-image: url("./carousel-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 800px;
}

.navbar{
    padding-top: 16.5px;
    display: flex;
    justify-content: space-between;
}

.navbar-main{
    margin-left: 81px;
}

.title-heading{
    font-size: 24px;
    padding-top: 1px;
}

.title-heading a{
    color: #fff;
}

/************* main navbar home,blog,pages styling *****************/
.nav-list{
    display: flex;
    list-style: none;
}

.nav-active-link{
    border-bottom: 4.8px solid rgb(255,64,129);
    padding-bottom: 17px;
}

.nav-list-item{
    font-size: 14px;
    font-weight: bold;
    margin-right: 6px;
    padding-top: 2px;
}

.nav-list-item a{
    display: flex;
    margin: 4px;
    color: #fff;
    padding-left: 10px;
}

.nav-name{
    padding-top: 3px;
}

.navbar-icons{
    display: flex;
    margin-right: 2px;
    margin-top: 3px;
}

.navbar-icons a{
    color: #fff;
    padding-left: 10px;
    padding-right: 12px;
    padding-top: 4px;
}

.divider-pipe{
    height: 30px;
    border-left: 1px solid #8b8b8b;
}

.nav-expand{
    font-size: 20px;
    padding-top: 2px;
    padding-left: 5px;
}

#shopping_cart{
    padding-left: 3px;
}

/************ main carousel content styling ***********/
.carousel-main{
    padding-top: 212px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carousel-main .para-1{
    color: #8b8b8b;
    font-size: 20.5px;
    font-weight:500;
}

.carousel-main .para-2-container{
    margin-top: 13px;
}

.carousel-main .para-2{
    color: #fff;
    font-size: 42px;
    font-weight:800;
    letter-spacing: 1px;
}

.btn-read-more{
    color: #fff;
    background-color: rgba(48,63,159,255);
    font-size: 18px;
    font-weight:500;
    padding-left: 26px;
    padding-right: 26px;
    padding-top: 12px;
    padding-bottom: 10px;
    border-radius: 25px;
    border: 0px;
    margin-top: 29px;
}

.caoursel-details{margin-top: 80px;margin-bottom: 65px;}

.image-details-container{
    padding-left: 523px;
}

.image-details-container img{
    padding-left: 35px;
}

.image-details-container .image-title{
    font-size: 14px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    margin-top: 12px;
    word-spacing: 1px;
    letter-spacing: 0.3px;
    padding-left: 15px;
}

.image-details-container .image-desc{
    color: #8b8b8b;
    margin-top: 8px;
    font-size: 12px;
}

.comment-like-container{
    display: flex;
    justify-content: center;
    font-size: 12px;
    margin-top: 34px;
    margin-right: 9px;
}
.comment-like-link{
    color: #8b8b8b;

}

.comments a{
    display: flex;
    align-items: center;
}
.like a{
    display: flex;
    align-items: center;
}

.comment-like-container .comments{
    margin-right: 32px;
}

#comments_icon{
    margin-right: 7px;
    font-size: 15px;
}

#like_icon{
    margin-right: 7px;
    font-size: 15px;
}

/******* sort blog container styling *******/
.sort-blog-container{
    display: flex;
    justify-content: center;
}

.sort-blog{
    display: flex;
    height: 60px;
    align-items: center;
}

.sort-blog .sort-blog-title{
    font-size: 11px;
    font-weight: 800;
    padding-top: 1px;
    word-spacing: 2px;
}


.sort-blog-content{
    margin-left: 23px;
}

.sort-blog-buttons{
    background-color: rgba(245, 245, 245, 255);
    padding: 7px 27px 7px 27px;
    border-radius: 25px;
    margin-right: 12px;
    border: 0px;
    font-size: 12px;
}

.sort-blog-content .active-button{
    border: 1px solid rgba(48,63,159,255);
    color: rgba(48,63,159,255);
    background-color: #fff;
}

/*********** post and searching style ****************/
.post-search-container{ background-color: rgba(245, 245, 245, 255);display: grid;
    background-color: rgba(245, 245, 245, 255);
    padding-top: 30px;
    height: 1000px;
    display: flex;
    justify-content: center;
}

.post-container{
    position: absolute;
}

.post-lifestyle .image-container{
    background-image: url('lisfe-style-pic.jpg');height: 420px;background-position: center;
    background-repeat: no-repeat;color: #fff;
}

.play-icon{
        font-size: 60px;position: relative;left: 380px;top: 182px;cursor: pointer;
}

.image-details{
    display: flex;justify-content: space-between;padding-left: 19px;padding-right: 20px;position: relative;top: 323px;
}
.image-details .span-lifestyle{
    font-size: 12px;margin-top: 2px;
}

.image-details .comment-like-span a{
    color: #fff;display: flex;
}

.image-details .comment-like-span {
    display: flex;align-items: center;font-size: 12px;margin-left: 633px;
}

.comment-like-span .comment-icon{
    font-size: 18px;margin-right: 6px;
}

.comment-like-span .like-icon{
    font-size: 18px;margin-right: 6px;

}

.comment-like-span .comment-link{
    margin-right: 19px;
}

.comment-link .comment-count{
    margin-top: 2px;
}

.like-link .like-count{
    margin-top: 2px;
}

.post-details{
    position: absolute;padding: 16px 0px 19px 21px;border-bottom: 0.5px solid rgb(203 203 203);background-color: #fff;
}
.post-details .post-details-heading{
    font-size: 18px;word-spacing: 2px;
}
.post-details .post-details-para{
    font-size: 16px;margin-top: 8px;word-spacing: 2px;
    font-family: 'Open Sans', sans-serif;font-weight: bold;
}

.post-lifestyle .acc-details{
    position: relative;background-color: #ffff;top: 110px;
}

.profile-container{
    display: flex;
}

.profile-container .profile-image{
    margin: 20px 8px 20px 20px;
}

.profile-image-details h5{
    font-family: 'Montserrat', sans-serif;font-size: 14px;font-weight: 600;
    
}

.profile-image-details {
    margin-top: 25px;
    
}
.profile-image-details .date{
    font-family: 'Open Sans', sans-serif;display: flex;font-size: 12px;font-weight: 600;color: #8b8b8b;
    margin-top: 6px;
    
}

.acc-details{
    display: flex;align-items: center;justify-content: space-between;
}

.acc-details .vertical-dots{
    margin-right: 12px;margin-top: 1px;
}


/***** searching  ************/
.search-filter-container{
    background-color: #fff;padding-left: 40px;padding-top: 17px;position: relative;left: 859px;width: 54%;
}

.search-filter-container div{
    width: 270px;
}

.search-bar{
    background-color: rgba(245, 245, 245, 255);color: grey;padding: 13px 52px 13px 18px;border-radius: 25px;border: 0px;font-size: 16px;
    margin-left: 2px;
}

.search-bar-container{
    margin-top: 7px;
}
.search-icon-background{
    height: 33px;width: 33px;background-color: rgba(255, 64 , 129, 255);border-radius: 50%;display: inline-block;position: absolute;
    left: 272px;top: 30px;
}

.search-icon{
    color: #fff;position: absolute;left: 6px;top: 4px;
}
/***** CATEGORIES*** */
.categories-container{
    margin-top: 25px;
}

.search-filter-headings h3{
    color:rgba(48,63,159,255);border-bottom: 1px solid rgba(48,63,159,255);padding-bottom: 5px;
}

.categories-main a{
    border-top: 0.5px solid rgb(203 203 203);display: flex;justify-content: space-between;height: 45px;align-items: center;font-size: 14px;
    color: #191919;
}

.categories-main a span{
    font-family: 'Open Sans', sans-serif;font-weight: 600;
}

/***** SUBSCRIBE   *******/
.subscribe-container{
    margin-top: 2px;
}

.subscribe-form *{
    font-family: 'Open Sans', sans-serif;font-size: 16px;
}

.subscribe-form input{
    padding: 10px 75px 10px 15px;border-radius: 5px;border: 1px solid rgb(203 203 203);margin-top: 10px;
}

.subscribe-form button{
    padding: 12px 84px 13px 91px;color: #fff;background-color: rgba(48,63,159,255);border: 0px;border-radius: 5px;margin-top: 4px;
    font-family: 'Montserrat', sans-serif;font-size: 15px;letter-spacing: 2px;
}

.subscribe-form div{
    font-weight: 600;margin: 11px 0px 10px 0px;
}

.OR-divider {
    display: flex;margin-top: 6px;

}
.OR-divider div{
    border-bottom: 0.5px solid black;
}

.OR-divider span{
    position: relative;top: 7px;margin: 0px 2px 0px 2px;
}

.social-media-container{
    margin-top: 28px;margin-left: 3px;display: flex;justify-content: space-between;
}

.social-media-container span{
    height: 34px;width: 34px;border-radius: 50%;display: inline-block;color: #fff;cursor: pointer;
}

.social-media-container span i{
    position: relative;
}

.facebook-icon i{
    left: 13px;top: 7px;
}
.twitter-icon i{
    left: 10px;top: 6px;
}
.vk-icon i{
    left: 7.5px;top: 6px;
}
.pinterest-icon i{
    left: 9.5px;top: 7px;
}

.t-icon i{
    left: 10.5px;top: 7px;
}
.dribble-icon i{
    left: 9.5px;top: 7px;
}

.social-media-container .facebook-icon{
    background-color: rgba(59, 89 , 153, 255);
}
.social-media-container .twitter-icon{
    background-color: rgba(85, 172 , 238, 255);
}
.social-media-container .vk-icon{
    background-color: rgba(76, 117 , 163, 255);
}

.social-media-container .pinterest-icon{
    background-color: rgba(255, 46 , 86, 255);
}

.social-media-container .t-icon{
    background-color: rgba(52, 70 , 93, 255);
}

.social-media-container .dribble-icon{
    background-color: rgba(234, 76 , 133, 255);
}

/* ********** TAB POST *********** */

.tab-post-widget{
    margin-top: 45px;
}

.tab-post-widget .recent-popular{
    display: grid;grid-template-columns: 50% 50%;border: 0.5px solid rgba(48,63,159,255);height: 38px;border-radius: 5px;margin-top: 19px;
}

.tab-post-widget .active{
    color: #fff;background-color: rgba(48,63,159,255);border: 0px;font-family: 'Montserrat', sans-serif;font-size: 12px;
    padding: 10px 0px 10px 0px;border-top-left-radius: 5px;border-bottom-left-radius: 5px;
}

.tab-post-widget .non-active{
    color: rgba(48,63,159,255);border: 0px;font-family: 'Montserrat', sans-serif;font-size: 12px;background-color: #fff;
    padding: 10px 0px 10px 0px;border-top-right-radius: 5px;border-bottom-right-radius: 5px;
}

.tab-post-container{
    margin-top: 7px;
}

.tab-post-container .img-container{
    margin-top: 3px;
}

.tab-post-container .img-details{
    width: 63%;
}

.tab-post-container > div{
    display: flex;border-bottom: 0.5px solid rgb(203 203 203);padding-bottom: 11px;padding-top: 10px;
}

.date-comment{
    font-family: 'Open Sans', sans-serif;display: flex;margin-left: 15px;font-size: 12px;
}

.date-comment .question_answer{
    display: flex;font-size: 14px;color:rgba(48,63,159,255);margin-left: 45px;
}

.date-comment .comment-count{
    margin-left: 6px;color:rgba(48,63,159,255);
}

.img-details .post-about{
    width: 97%;margin-left: 15px;font-size: 14px;font-weight: 600;margin-top: 4px;
}


/* ******** TAGS CONTAINER******** */
.tags{
    margin-top: 38px;
}

.tags-details{
    margin-top: 14px;
}

.tags-details button{
    background-color: rgba(238, 238, 238, 255);border: 0px;padding: 6px 16px 6px 17px ;margin:5px 10px 5px 0px;
    border-radius: 5px;font-family: 'Open Sans', sans-serif;font-weight: bold;
}

.tags-details >div{
    display: flex;

}
