/* body */
*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

* a{
    text-decoration: none;
}

.center-main-container{
    width: 1170px;
}


/* header  */
.header{
    background-color: #191919;
    height: 39px;
    width: 99.8%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    padding: 2px;
}

.header-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.header-left{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
}

.header-left a{
    /* margin: 5px; */
    margin-right: 14px;
}

.social-link{
    color: #8b8b8b;
}

.header-text-color{
    font-size: 12px;
    color: #8b8b8b;
}

.account_circle{
    font-size: 20px;
}

.header-right{
    color: #8b8b8b;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


.header-right-acc a{
    display: flex;
    align-items: center;
     margin-right: 6px;
}

.header-right-acc a span{
    margin-right: 4px;
}

.header-right-lang a {
    display: flex;
    align-items: center;
}

#text-sign-in{
    word-spacing: 2px;
}

#account_circle{
    font-size: 19px;
}

#lang-icon{
    font-size: 19px;
    margin-right: 3px;
    margin-left: 9.5px;
}

#keyboard-arrow-down{
    font-size: 19px;
}

#expand_more{
    width: 16px;
    font-size: 20px;
}

.fa-angle-down{
    font-size:12px;
}

.pipe{
    margin-left: 4px;
    margin-right: 5px;
    height: 21px;
    border-left: 1px solid #8b8b8b;
}
